body {
    margin: 0;
    padding: 0;
    background-color: #002b40;
}
.container{
    position: absolute;
    width: 300px;
    height: 600px;
    overflow: hidden;
}
#banner {
    width: 300px;
    height: 600px;
    position: relative;
    animation: background-animation 10s infinite;

}
#roll-text {
    font-family: Oswald;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 40%;
    left: 33%;
    opacity: 1;
    animation: roll-text 10s infinite;
    overflow: hidden;
    white-space: nowrap;
}
#blue-sky {
    font-family: Oswald;
    color: white;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    animation: blue-sky 10s infinite;
    opacity: 0;
}
#mooie {
    font-family: Oswald;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    animation: mooie 10s infinite;
    opacity: 0;
}
#phone {
    font-family: Oswald;
    font-weight: bold;
    font-size: 1em;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 33%;
    opacity: 1;
    animation: phone 10s infinite;
}
#present-container {
    width: 40%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%) translateY(10%);

}
#present {
    font-family: Oswald;
    font-weight: bold;
    font-size: 3em;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-30%);
    opacity: 1;
    transform-origin: bottom right;
    animation: present 10s infinite;
}
#appstore {
    position: absolute;
    top:80%;
    left: 10%;
    height: 30px;
    animation: store 10s infinite;
}
#gplay {
    position: absolute;
    left: 10%;
    top: 86%;
    height: 30px;
    animation: store 10s infinite;
}
#qr {
    position: absolute;
    left: 80%;
    top: 83%;
    height: 30px;
    animation: store 10s infinite;
}
@keyframes background-animation {
    0% {opacity: 0;transform: scale(1.2)}
    20% {opacity: 1; transform: scale(1)}
    100% {opacity: 1}
}
@keyframes blue-sky {
    0% {opacity: 0; transform: translateX(-50%)}
    10% {opacity: 0;  transform: translateY(20px) translateX(-50%)}
    20% {opacity: 1;  transform: translateX(-50%)}
    100% {opacity: 1;  transform: translateX(-50%)}
}
@keyframes mooie {
    0% {opacity: 0; transform: translateX(-50%)}
    15% {opacity: 0;  transform: translateY(20px) translateX(-50%)}
    25% {opacity: 1;  transform: translateX(-50%)}
    100% {opacity: 1;  transform: translateX(-50%)}
}
@keyframes roll-text {
    0% {width: 0ch;}
    20% {width: 0ch;}
    40% {width: 19ch; opacity: 1}
    100% {width: 19ch; opacity: 1;}
}
@keyframes phone {
    0% { transform: translateX(0ch);opacity: 0}
    15%{transform: translateX(0ch) scale(0.5);opacity: 0}
    20%{transform: translateX(0ch) scale(1);opacity: 1}
    35% {transform: translateX(14ch); opacity: 1}
    37% {transform: translateX(14ch) rotate(20deg);opacity: 1}
    38% {transform: translateX(14ch) rotate(-20deg);opacity: 1}
    39% {transform: translateX(14ch) rotate(20deg);opacity: 1}
    40% {transform: translateX(14ch) rotate(-20deg);opacity: 1}
    41% {transform: translateX(14ch) rotate(0deg);opacity: 1}
    100% {transform: translateX(14ch);opacity: 1}
}
@keyframes present {
    0% {transform: translateY(-120px) translateX(-30%) rotate(-15deg); opacity: 0}
    5% {transform: translateY(-120px) translateX(-30%) rotate(-15deg);transform-origin: center; opacity: 1}
    10% {transform: translateY(10px) translateX(-30%) rotate(-15deg);transform-origin: center; opacity: 1}
    11% {transform: translateY(10px) translateX(-30%) rotate(0deg);transform-origin: center; opacity: 1}
    12% {transform: translateY(10px) translateX(-30%) rotate(5deg);transform-origin: bottom right; opacity: 1}
    14% {transform: translateY(10px) translateX(-30%) rotate(0deg); opacity: 1}
    100% {transform: translateY(10px) translateX(-30%); opacity: 1}

}
@keyframes store {
    0% {opacity: 0}
    20% { opacity: 0;transform: scale(0.5)}
    25% {opacity: 1;transform: scale(1.1)}
    27% { opacity: 1;transform: scale(1)}
    100% {opacity: 1}
}